<div id="play">
  <div class="row">
    <div class="col-md-5">
      <badass player1="player1Choice" status="player1Status"></badass>
      <h3>{{player1Choice.label}}</h3>
      <h6>You</h6>
      <div>
        <a class="btn btn-lg weapon" ng-repeat="w in weapons" ng-class="{'selected':(player1Weapon===w)}" ng-click="setPlayer1Weapon(w);" ng-hide="(player1Weapon!=w && player1Weapon)"><i ng-class="'fa fa-hand-'+w+'-o'"></i></a>
      </div>
    </div>
    <div class="col-md-2">
      <!-- countdown -->
      <h2 class="countdown animated" ng-repeat="i in countdown" ng-if="actualCount==i" ng-class="{'zoomIn fadeOut':(actualCount==i),'fadeOut':countdownEnd}" ng-hide="playAgain">{{i}}</h2>
      <h4 class="result animated" ng-show="playAgain" ng-class="{fadeInDown:playAgain}">
        <span ng-show="player1Status=='winner'">You win!</span>
        <span ng-show="player2Status=='winner'">You lose!</span>
        <span ng-show="player1Status==='tie' && player2Status==='tie'">Tie!</span>
      </h4>
      <a href="" class="btn btn-danger btn animated" ng-click="reset();" ng-show="playAgain" ng-class="{fadeInDown:playAgain}">Play again!</a>
    </div>
    <div class="col-md-5">
      <badass player1="player2Choice" status="player2Status"></badass>
      <h3>{{player2Choice.label}}</h3>
      <h6>Computer</h6>
      <div>
        <a class="btn weapon" ng-hide="player2Weapon">&nbsp;</a>
        <a class="btn weapon" ng-show="player2Weapon && player2Weapon===w" ng-repeat="w in weapons" ng-class="{'selected':(player2Weapon===w)}"><i ng-class="'fa fa-hand-'+w+'-o'"></i></a>
      </div>
    </div>
  </div>
  <div>
    <a href="#/home" class="btn btn-link btn-xs">Change badasses</a>
  </div>
</div>
